body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav {
  display: block;
  margin: auto;
  text-align: center;
}
#featured-property figure {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
}
nav {
  padding: 10px;
  background-color: rgb(228, 136, 167)
}
figcaption {
  font-size: 10px
}
.my-paragraph {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.details {
  float: left;
}
div.detail {
  background-color: rgb(228, 136, 167);
  text-align: center;
  width: 25%;
}